.block-3 {
    background-color: #26353B;
    display: flex;
    align-items: center;
    height: 330px;
}

.block-3__title{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 900;
    padding: 13px 0;
}

.block-3__text-1 {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    opacity: 0.7;
}

.block-3__text-2 {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    opacity: 0.7;
    margin-top: 45px;
}